{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@components": "./components",
          "@icons": "./assets/icons",
          "@views": "./views"
        }
      }
    ]
  ]
}
